/* Global */
:root {
    /* colores */
    --blanco:#fff;
    --negro:#101010;
    --oscuro: #1d1c1c;
    --rojo: #b92c08;
    --neon:#aa27e6;
    --gris:#a5a5a5;

    /* fuentes */
    --tipografia_titulo: 'Roboto', sans-serif;
    --tipografia_secundaria:'Mukta', sans-serif; 
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* body */
body{
    font-size: 16px;
    background-color: var(--oscuro)
}

/* Utility First */
.contenedor{
    width: 120rem;
    margin: auto;
}

.pd-5r{
    padding:0 1rem 0 1rem
}

.bg-black{
    background-color: var(--negro);
    height: 62rem;
    padding-top: 1.2rem;
}

/* Informacion contacto superior */
.infor-contacto{
    display: flex;
    justify-content: space-between;
    background-color: var(--negro);
    color: var(--blanco);
    height: 5rem;
    
}

.infor-contacto__infor{
    display: flex;
    gap: 2rem;
}

/* Navegacion */
.navegacion{
    display: flex;
    justify-content: space-between;
    background-color: var(--oscuro);
    height: 60px;

}

.navegacion__logo{
    display: flex;
    align-items: center;
    font-family: var(--tipografia_titulo);
    color: var(--blanco);
    font-weight: 700;
    font-size: 3.5rem;
}

.navegacion__menu{
    display: flex;
    align-items: center;
    padding-right: 3rem;
}

.navegacion__menu a{
    font-family: var(--tipografia_titulo);
    text-decoration: none;
    color: var(--blanco);
    padding: 0 2.5rem 0 2.5rem;
}

/* Header */
header{
    background-image: url('../img/neon3.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    height: 70rem;
    -webkit-box-shadow: inset 0px 9px 10px -3px rgba(170,39,230,1);
    -moz-box-shadow: inset 0px 9px 10px -3px rgba(170,39,230,1);
    box-shadow: inset 0px 9px 10px -3px rgba(170,39,230,1);
}

.contenido-header{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.31);
    height: 70rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--blanco);
    font-family: var(--tipografia_secundaria);
    font-weight: lighter;
    font-size: 2.5rem;
}

.contenido-header h2{
    font-size: 3rem;
    font-weight: 300;
    font-family: var(--tipografia_secundaria);
    color: var(--blanco);
    margin-bottom: 8rem;
}

.boton a{
    font-weight: 400;
    text-decoration: none;
    color: var(--neon);
    border: solid 2px var(--neon);
    padding: 0.5rem;
    border-radius: 0.4rem;
    font-size: 2rem;
    background-color: var(--oscuro);
}

.boton a:hover{
    font-weight: 600;
    color: var(--blanco);
    background-color: var(--neon);
}

#contenido-header__foto{
    width: 19rem;
    border-radius: 20rem;
} 

/* SOBRE MI */

.sobre-mi{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 35rem 80rem;
    grid-template-rows: auto;
    gap: 3rem;
    margin-bottom: 5rem;
}

.sobre-mi__img img{
    width: 35rem;
}

.sobre-mi h2{
    font-family: var(--tipografia_titulo);
    color: var(--blanco);
}

.sobre-mi__descripcion{
    font-family: var(--tipografia_titulo);
    text-align: justify;
    color: var(--gris);
}

.sobre-mi__botones{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sobre-mi__contenedor{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly
}

#blog-active{
    background-color: var(--neon);
    color: var(--blanco);
    display: block; 
    width: 6rem;
}

/* TRABAJOS */

.trabajos{
    display: grid;
    grid-template-columns: 40rem;
    grid-template-rows: auto 30rem;
    margin-bottom: 15rem;
}

.trabajos h2{
    font-family: var(--tipografia_titulo);
    color: var(--blanco);
}

.trabajos p{
    font-family: var(--tipografia_titulo);
    color: var(--gris);
    text-align: justify;
}

.trabajos__galeria{
    display:grid;
    grid-template-columns: 27rem 27rem 27rem;
    gap: 2.8rem;
}

/* CONTACTO */

.contacto h2{
    text-align: center;
    font-family: var(--tipografia_titulo);
    color: var(--blanco);
    margin: 4rem 0 5rem 0;
}

.formulario{
    width: min( 60rem, 100% ); /* utilizar el valor mas pequeño */
    margin: 0 auto;
    padding: 3rem;
    border-radius: 1rem;
    border:.2rem solid var(--neon);
    color: var(--blanco);
    -webkit-box-shadow: 7px 9px 7px -7px rgba(170,39,230,1);
    -moz-box-shadow: 7px 9px 7px -7px rgba(170,39,230,1);
    box-shadow: 7px 9px 7px -7px rgba(170,39,230,1);
}

.formulario fieldset{
    border: .2rem solid var(--neon);
}

.formulario legend{
    width: 85%;
    text-align: center;
    color: var(--blanco);
    font-family: var(--tipografia_secundaria);
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 2rem;  
}

.contenedor-campos{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding:1rem;
}

.campo label{
    display: block;
    margin-bottom: 1rem;
    font-family: var(--tipografia_secundaria);
    font-weight: 300;
}

.campo input{
    width: 100%;
    padding:.5rem;
}

.campo textarea{
    width: 100%;
    height: 13rem;
    resize: none;
    border-radius: .7rem;
    font-family: var(--tipografia_secundaria);
}

.enviar{
    margin: auto;
}

.boton-contacto{
    padding: .7rem;
    width: 9rem;
    background-color: var(--oscuro);
    color: var(--neon);
    border: .2rem solid var(--neon);
    font-family: var(--tipografia_secundaria);
    border-radius: .4rem;

}